body {
  font-family: 'Montserrat', sans-serif;
  background-color: #dfecdf;
}

#bodycontent {
  max-width: 1500px;
  margin: auto;
  background-color: #fff;
  padding: 1em;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #006500;
}

a {
  color: #006500;
  text-decoration: none;
}

a:hover, a:focus {
  background-color: #dfecdf;
}


.header {
  border-bottom: 2px solid #006500;
  margin-bottom: 0.5em;
}

#coriander {
  font-size: 3em;
  margin-bottom: 0.1em;
  margin-left: -0.05em;
}

#logowrapper {
  position: absolute;
  width: 100px;
  top: 1em;
  right: 1em;
}

#coriander-logo {
  position: fixed;
  width: 100px;
  transition: width 600ms;
}

.header p{
  margin-top: 0;
}

.h-font {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #006500;
  font-weight: 700;
}

noscript p{
  font-size: 1.5em;
  color: #006500;
  font-weight: 400;
  border: 2px solid #c54c82;
  padding: 0.3em;
  margin-bottom: 2em;
}

/* nicer styling for dropdown and buttons */
.control-row{
  position: relative;
}

.control-tddata, .control-country{
  display: inline-block;
}
.control-tddata:after, .control-country:after{
  content: '\f078';
  font: normal normal normal 1em FontAwesome;
  color: #609f60;
/*  right: 11px;
  top: 6px;*/
  left: -2em;
  height: 1.75em;
  padding: 0.45em 0 0.4em 0.25em;
  border-left: 2px solid #609f60;
  position: relative;
  pointer-events: none;
}

.control-row select::-ms-expand {
display: none;
}

.control-row select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  display: inline-block;
  width: 12em;
  height: 2em;
  margin-left: 0.5em;
  padding: 0 0.25em;
  font-size: 1em;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 2px solid #609f60;
  border-radius: 15px;
  -ms-word-break: normal;
  word-break: normal;
}

.control-row select:hover {
  background-color: #dfecdf;
  cursor: pointer;
}

/* Button to deselect current selection */
#buttonSel {
  border: 2px solid #609f60;
  border-radius: 15px;
  height: 2em;
  background-color: #fff;
  padding: 0 0.5em;
  font-size: 1em;
  margin-left: 1em;
}

#buttonSel:hover {
  background-color: #dfecdf;
  cursor: pointer;
}


 button.visible {
   display: inline-block;
 }

 button.hidden {
   display: none;
 }

 /* A fancy menu with two entries styled like a switch */
 .link-switch {
  display: inline-block;
  position: absolute;
  right: 0;
  height: 1.75em;
  border: 2px solid #609f60;
  border-radius: 18px;
  font-size: 1em;
 }

 .left-link, .right-link {
   cursor: pointer;
   background-color: #fff;
   padding: 0 0.4em;
   display: inline-block;
   height: 1.75em;
   vertical-align: middle;
   line-height: 1.75em;
 }

 .left-link {
   border-right: 2px solid #609f60;
   border-radius: 15px 0 0 15px;
 }

 .other-page:hover, .other-page:focus {
   background-color: #609f60;
   color: #fff;
 }

 .right-link {
   border-radius: 0 15px 15px 0;
 }

 .current-page{
   background-color: #bfd8bf;
 }


/* nice styling for slider */
#slidercontainer{
  width: 90%;
  margin: auto;
}

#slidercontainer p, #slidercontainer input{
  display: inline-block;
  vertical-align: middle;
}

#slidercontainer p {
  margin: 0;
  width: 8em;
}

#sliderOutput {
  display: block;
}

#myRange {
  max-width: 85%;
  margin: auto;
}

/* track and thumb styling generated with http://danielstern.ca/range.css/?ref=css-tricks#/ */
input[type=range].myRange {
  -webkit-appearance: none;
  width: 100%;
  margin: -0.5px 0;
}
input[type=range].myRange:focus {
  outline: none;
}
input[type=range].myRange::-webkit-slider-runnable-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
  background: #bfd8bf;
  border-radius: 23.7px;
  border: 0px solid #ffffff;
}
input[type=range].myRange::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #006500, 0px 0px 0px #007f00;
  border: 0px solid #006500;
  height: 9px;
  width: 13px;
  border-radius: 50px;
  background: rgba(0, 101, 0, 0.93);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0.5px;
}
input[type=range].myRange:focus::-webkit-slider-runnable-track {
  background: #d8e7d8;
}
input[type=range].myRange::-moz-range-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
  background: #bfd8bf;
  border-radius: 23.7px;
  border: 0px solid #ffffff;
}
input[type=range].myRange::-moz-range-thumb {
  box-shadow: 0px 0px 0px #006500, 0px 0px 0px #007f00;
  border: 0px solid #006500;
  height: 9px;
  width: 13px;
  border-radius: 50px;
  background: rgba(0, 101, 0, 0.93);
  cursor: pointer;
}
input[type=range].myRange::-ms-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].myRange::-ms-fill-lower {
  background: #a6c9a6;
  border: 0px solid #ffffff;
  border-radius: 47.4px;
  box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
}
input[type=range].myRange::-ms-fill-upper {
  background: #bfd8bf;
  border: 0px solid #ffffff;
  border-radius: 47.4px;
  box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
}
input[type=range].myRange::-ms-thumb {
  box-shadow: 0px 0px 0px #006500, 0px 0px 0px #007f00;
  border: 0px solid #006500;
  width: 13px;
  border-radius: 50px;
  background: rgba(0, 101, 0, 0.93);
  cursor: pointer;
  height: 9px;
}
input[type=range].myRange:focus::-ms-fill-lower {
  background: #bfd8bf;
}
input[type=range].myRange:focus::-ms-fill-upper {
  background: #d8e7d8;
}

/* LISTS */
ul {
  list-style: none;
  padding: 0 0 0 0.8em;
  margin: 0;
}

li {
  padding-left: 0.1em;
  text-indent: -0.85em;
}

li::before {
  font-size: 1.3em;
  line-height: 1em;
  content: "•";
  padding-right: 0.3em;
  color: #609f60;
}

/* Basic course list */
li.courseEntry:hover, li.courseEntry:focus {
  background-color: #dfecdf;
  cursor: pointer;
}

li.courseEntry:visited {
  border-bottom: 1px dotted #609f60;
}

span.moreText {
  position: relative;
  font-size: 0.9em;
  color: #006500;
}

.moreText .courseTipText {
  visibility: hidden;
  width: 15em;
  background-color: #dfecdf;
  color: #006500;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -7.5em;
}

.moreText .courseTipText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #dfecdf transparent transparent transparent;
}

.moreText:hover .courseTipText, .moreText:focus .courseTipText {
  visibility: visible;
}


/* The Modal Window (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Window - Content */
#modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #006500;
  width: 80%;
  overflow: auto; /* Enable scroll if needed */
  max-height: calc(100vh - 200px);
}

/* Close Button of Modal Window*/
.close {
  color: #609f60;
  right: calc(10% + 0.25em);
  position: fixed;
  font-size: 3em;
  margin-top: -0.25em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #006500;
  text-decoration: none;
  cursor: pointer;
}

#modal_inner {
  padding-right: 2em;
}

/* Styling of general course information */
#modal_info, #modal_td_keys {
  border-bottom: 2px dotted #bfd8bf;
  margin-bottom: 1em;
}

#modal_td_keys {
  padding-bottom: 0.5em;
}

/* styling of course TaDiRAH keywords*/
#modal_td_dis, #modal_td_obj, #modal_td_teq{
  width: 33%;
  display:inline-block;
  vertical-align: top;
}

#modal_td_dis h4, #modal_td_obj h4, #modal_td_teq h4{
  margin-top: 0;
  margin-bottom: 0.25em;
}

/* Styling of zotero and scholia links*/
a.sco_link, a.zot_link {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

a.zot_link img{
  height: 1em;
  margin-left: 1.5em;
}

a.sco_link img{
  height: 1.2em;
  margin-left: 1.5em;
  margin-bottom: -0.1em;
}

/* Styling of additional literature section */
#modal-section-zotero, #modal-section-wikidata{
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

#modal-section-zotero h4, #modal-section-wikidata h4{
  margin-top: 0;
  margin-bottom: 0.5em;
}

#modal-section-zotero {
  padding-right: 0.3em;
}

.zotero-lit-list li, .wikidata-lit-list li {
  margin-bottom: 0.5em;
/*  border-bottom: 1px dashed #dfecdf;*/
  padding-bottom: 0.25em;
}

.wikidata-lit-list li a img{
  height: 1.3em;
  margin-left: 0.5em;
  margin-bottom: -0.3em;
}

p.zot-keywords, p.wiki-keywords, p.wiki-keywords-td {
  margin: 0.3em 0 0;
  font-size: 0.9em;
  padding-left: 1em;
}

/* CHORD button */
#draw-diagram {
  vertical-align: top;
  display: inline-block;
  background-color: #fff;
  border: 2px solid #609f60;
  border-radius: 15px;
  height: 2em;
  padding: 0 0.5em;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  margin-right: 2em;
}

#draw-diagram:hover, #draw-diagram:focus {
  background-color: #609f60;
  color: #fff;
  cursor: pointer;
}


/* CHORD slider */
div.topx{
  vertical-align: top;
  max-width: 40%;
  display: inline-block;
  margin-top: -0.25em !important;
}

div.topx p{
  width: 100% !important;
  font-size: 0.9em !important;
  line-height: 0.9em;
}

div.topx input[type=range].myRange {
  margin: -3.5px 0;
}

/* CHORD show all */
#checkboxcontainer {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.9em;
  margin-left: 1em;
}

#checkboxcontainer .checkcontainer {
  margin: 0;
  margin-top: -0.15em;
}

#checkboxcontainer
.checkmark {
  height: 1.3em;
  width: 1.3em;
  margin-top: 0.6em;
}

/* CHORD Keyword checkboxes */
#chordgraph, #keyword-selector{
  display: inline-block;
  vertical-align: top;
}

#chordgraph {
  padding-top: 1em;
}

#keyword-selector{
  width: 19%;
}

#disciplines-keys, #techniques-keys, #objects-keys{
  margin-bottom: 1em;
  border-bottom: 1px dotted #609f60;
}

#disciplines-keys-wrapper, #techniques-keys-wrapper, #objects-keys-wrapper{
  font-size: 0.9em;
  max-height: 25.5em;
  overflow-y: auto;
  overflow-x: hidden;
  border-top: 1px dotted #609f60;
  padding-top: 0.2em;
}

#disciplines-keys {
  margin-top: 1em;
}

#disciplines-keys h4, #techniques-keys h4, #objects-keys h4{
  margin: 0;
  margin-bottom: 0.5em;
  display: inline-block;
  margin-right: 0.5em;
}

/* The container */
.checkcontainer {
  display: inline-block;
  position: relative;
  padding-left: 1.5em;
  margin-bottom: 0.4em;
  margin-right: 0.4em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  height: 1.2em;
  width: 1.2em;
  background-color: #dfecdf;
}

/* prevent keyword box content from jumping */
#disciplines-keys-wrapper input, #techniques-keys-wrapper input, #objects-keys-wrapper input{
  display: none;
}

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .checkmark {
  background-color: #609f60;
}

/* When the checkbox is checked, add a blue background */
.checkcontainer input:checked ~ .checkmark {
  background-color: #609f60;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkcontainer .checkmark:after {
  left: 6px;
  top: 2px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* CHORD DIAGRAM */
#chart {
    text-align: center;
    margin: 20px 20px 20px 0px;
    color:#fff;
    position: absolute;
    height: 100%;
    width: 900px;
}
#circle circle {
    fill: none;
    pointer-events: all;
}
#circle:hover path.fade {
   opacity: 0;
}
path.fade:hover{
  pointer-events: none;
}
path.chord {
  stroke: #cdcdcd;
  stroke-width: .10px;
  transition: opacity 0.3s;
}
#circle:hover path.fade title{
  opacity: 0;
}
svg {
    font-size: 0.8em;
    color: #999;
/*    font-family:'Exo 2', sans-serif;*/
    min-height: 100%;
    min-width: 100%;
}

/* FOOTER */
.footer {
  border-top: 2px solid #006500;
  height: 6em;
  padding-top: 1em;
  margin-top: 1.5em;
}

#footer-img, #license-gh, #link-cr {
  display: inline-block;
  width: 33%;
  vertical-align: top
}

#coriander-logo-footer {
  width: 5em;
  transform: scale(-1,1);
  display: inline-block;
}

#license-gh{
  text-align: center;
}

#license-gh i{
  font-size: 3em;
  margin-top: 0.3em;
}

#link-cr {
  text-align: right;
}

#link-cr img{
  max-width: 12em;
}

#link-cr a:hover{
  background-color: transparent;
}
